@{
    ViewBag.Title = "Contact";
}


<div ng-controller="appController">{{model.name}}</div>
<app-root></app-root>

@section Scripts {
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angularjs-app/app.js"></script>
    <script src="~/Scripts/angularjs-app/appController.js"></script>
    @Scripts.Render("~/bundles/angular-scripts")
}